@page
@model PostApplication.Pages.Cashiers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cashier</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cashier.CashierFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cashier.CashierFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cashier.CashierLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cashier.CashierLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cashier.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cashier.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cashier.PostOffice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cashier.PostOffice.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cashier?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
